<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Web_Cookie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateCookie</display-name>
    <servlet-name>CreateCookie</servlet-name>
    <servlet-class>com.hynqn.cookie.servlet.CreateCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookie</servlet-name>
    <url-pattern>/CreateCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookie</display-name>
    <servlet-name>GetCookie</servlet-name>
    <servlet-class>com.hynqn.cookie.servlet.GetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookie</servlet-name>
    <url-pattern>/GetCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistCookies</display-name>
    <servlet-name>PersistCookies</servlet-name>
    <servlet-class>com.hynqn.cookie.servlet.PersistCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistCookies</servlet-name>
    <url-pattern>/PersistCookies</url-pattern>
  </servlet-mapping>
</web-app>