<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.qitest.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/MyfistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoServlet</display-name>
    <servlet-name>AutoServlet</servlet-name>
    <servlet-class>com.qitest.servlet.AutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoServlet</servlet-name>
    <url-pattern>/AutoServlet</url-pattern>
  </servlet-mapping>
</web-app>